.card {

    margin-bottom: 5rem;
    width: calc(20% - 3rem);
    display: flex;
    flex-direction: column;
    align-items: left;
    width: 17vw ;
   
    }
    
    .imgPoster{
   
    border-top-left-radius: 4%;
    border-top-right-radius: 4%;
    width: 100%;
    }

   